.tasks.index-page
	.display-4= t('application.page.title.task_list')
	%p.text-muted.mb-2= t('application.page.instructions')
	.card.bg-gray
		.card-body.pb-2
			.tasks-container
				- @tasks.each do |task|
					.task-container
						.task-info
							.task-title
								%span.small= "[##{task.code}]"
								= task.name
								%span.task-category= task.category.name
							.task-description= task.description
							.task-dates
								%b= task.owner.email
								= "#{t('application.section.message.created_in')} #{l task.created_at, format: :long} / #{t('application.section.message.due_date_is')} #{task.due_date}"
						.task-interactions
							.task-participants
								- task.participating_users.includes(:user).each do |participant|
									.task-participant{ class: "task-participant--#{participant.role}" }
										= image_tag "https://robohash.org/#{participant.user.email}?size=60x60", title: participant.user.email
							.task-actions
								.dropdown
									%a#taskMenu{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
										.fas.fa-ellipsis-v
									.dropdown-menu{"aria-labelledby" => "taskMenu"}
										= link_to t('common.show'), task, class: 'dropdown-item'
										= link_to t('common.edit'), edit_task_path(task), class: 'dropdown-item'
										= link_to t('common.destroy'), task, :method => :delete, :data => { :confirm => t('common.delete.confirmation.are_you_sure?')}, class: 'dropdown-item'