.categories.index-page
  .card
    .card-body
      %h1 Lista de Categorias
      %table.table.text-center{style: 'margin-top: 1.5rem'}
        %thead.thead-dark
          %tr
            %th Nombre
            %th Descripcion
            %th Opciones
        %tbody
          - @categories.each do |category|
            %tr
              %td= category.name
              %td= category.description
              %td
                = link_to 'show', category
                |
                = link_to 'Edit', edit_category_path(category)
                |
                = link_to 'delete', category, method: :delete, data: { confirm: 'Esta seguro?'}
      %br
      .text-right
        = link_to 'Nueva Categoria', new_category_path, class: 'btn btn-info'