.categories.show-page
  .card
    .card-body
      %p
        %b= t('category.show.title.name')
        = @category.name
      %p
        %b= t('category.show.title.description')
        = @category.description
      = link_to t('common.edit'), edit_category_path(@category), class: 'btn-interaction'
      /|
      = link_to t('common.back'), categories_path, class: 'btn-interaction'